body {
    font-family: "Lato", sans-serif;
  }
  
  .sidenav {
    height: 100%;
    width: 16%;
    position: fixed;
    z-index: 2;
    top: 0;
    left: 0;
    background: #fff;    
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
    box-shadow: 0 16px 38px -12px rgba(0, 0, 0, 0.56), 0 4px 25px 0px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.2);    

  }
  .sidenav .sidenav-wrapper {
    position: relative;
    height: calc(100vh - 85px);
    overflow: auto;
    width: 78%;
    z-index: 4;
    padding-bottom: 30px;
  }
  
  .sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color:  #3C4858;
    font-weight: 300;
    display: block;
    transition: 0.3s;
  }
  
  .sidenav a:hover {
    color:#cc2900;
  }
  
  .sidenav .closebtn {
    position: absolute;
    
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }
  .main-body{
    padding-left: 17%;
    padding-top: 2.5%;

  }
  
  @media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
  }

.userprofile{
  width: 90%;
  height: 100px;  
  background-color: #eee;
  box-shadow: 10px 10px 5px grey;
  margin: auto; 
  border: 3px solid rgb(199, 227, 230);
  padding: 10px;
  margin-top:15px;
}


.userprofile2{
  width: 75%;
  height: 100px;  
  background-color: #eee;
  box-shadow: 10px 10px 5px grey;
  margin: auto; 
  border: 3px solid rgb(199, 227, 230);
  padding: 10px;
  margin-top:10px;
}

.userprofile3{
  width: 60%;
  height: 100px;  
  background-color: #eee;
  box-shadow: 10px 10px 5px grey;
  margin: auto; 
  border: 3px solid rgb(199, 227, 230);
  padding: 10px;
  margin-top:10px;
}

.jumbotron{
  background-color: #eee;

}

.col-lg-6 { 
  max-width: 60%;
  padding-top: 2%;
}


.container {
  position: relative;
  width: 100%;
  max-width: 400px;
}



.container .btn {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  background-color: #f1f1f1;
  color: black;
  font-size: 16px;
  padding: 16px 30px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  text-align: center;
}

.container .btn:hover {
  background-color: red;
  color: white;
}



